WebContent/wsdl/SmartService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.uniajc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.uniajc.com" xmlns:intf="http://ws.uniajc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.uniajc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPersonData">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPersonDataResponse">
    <complexType>
     <sequence>
      <element name="getPersonDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTeacherStatus">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTeacherStatusResponse">
    <complexType>
     <sequence>
      <element name="getTeacherStatusReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTeacherTitles">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTeacherTitlesResponse">
    <complexType>
     <sequence>
      <element name="getTeacherTitlesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPersonDataResponse">

      <wsdl:part element="impl:getPersonDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTeacherTitlesResponse">

      <wsdl:part element="impl:getTeacherTitlesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTeacherStatusResponse">

      <wsdl:part element="impl:getTeacherStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTeacherTitlesRequest">

      <wsdl:part element="impl:getTeacherTitles" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonDataRequest">

      <wsdl:part element="impl:getPersonData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTeacherStatusRequest">

      <wsdl:part element="impl:getTeacherStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SmartService">

      <wsdl:operation name="getPersonData">

         <wsdl:input message="impl:getPersonDataRequest" name="getPersonDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPersonDataResponse" name="getPersonDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTeacherStatus">

         <wsdl:input message="impl:getTeacherStatusRequest" name="getTeacherStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTeacherStatusResponse" name="getTeacherStatusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTeacherTitles">

         <wsdl:input message="impl:getTeacherTitlesRequest" name="getTeacherTitlesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTeacherTitlesResponse" name="getTeacherTitlesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SmartServiceSoapBinding" type="impl:SmartService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPersonData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPersonDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPersonDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTeacherStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTeacherStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTeacherStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTeacherTitles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTeacherTitlesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTeacherTitlesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SmartServiceService">

      <wsdl:port binding="impl:SmartServiceSoapBinding" name="SmartService">

         <wsdlsoap:address location="http://localhost:8080/UNIAJCSmartServices/services/SmartService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
